body {
  font-family: sans-serif;
  height: 5000px;
}

h1 {
  text-align: center;
}

#kotak {
  width: 200px;
  height: 200px;
  padding: 20px;
  background: blue;
  color: #fff;
}

/* animasi */
#resizable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}
#resizable h3 {
  text-align: center;
  margin: 0;
}
.ui-resizable-helper {
  border: 1px dotted gray;
}

/* contain area  */
#container {
  width: 300px;
  height: 300px;
}
#container h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
#resizable2 {
  background-position: top left;
  width: 150px;
  height: 150px;
}
#resizable2,
#container {
  padding: 0.5em;
}

/* helper  */
#resizable3 {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}
#resizable3 h3 {
  text-align: center;
  margin: 0;
}
.ui-resizable-helper {
  border: 2px dotted #00f;
}

/* min max  */
#resizable4 {
  width: 200px;
  height: 150px;
  padding: 5px;
}
#resizable4 h3 {
  text-align: center;
  margin: 0;
}

/* ratio  */
#resizable5 {
  width: 160px;
  height: 90px;
  padding: 0.5em;
}
#resizable5 h3 {
  text-align: center;
  margin: 0;
}

/* grid  */
#resizable6 {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}
#resizable6 h3 {
  text-align: center;
  margin: 0;
}

/* synchronous  */
#resizable7 {
  background-position: top left;
}
#resizable7,
#also {
  width: 150px;
  height: 120px;
  padding: 0.5em;
}
#resizable7 h3,
#also h3 {
  text-align: center;
  margin: 0;
}
#also {
  margin-top: 1em;
}

/* textarea */
.ui-resizable-se {
  bottom: 17px;
}

/* gost  */
#resizable9 {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}
#resizable9 h3 {
  text-align: center;
  margin: 0;
}
.ui-resizable-ghost {
  border: 1px dotted gray;
}
